@charset "utf-8";
/* CSS Document */
.form_table
{
	width: 100%;
	margin-top: 40px;
}
.form_table tr td
{
	vertical-align: top;
}
input[type=text], .normal_text_box
{
	background: #f4f4f4; /* Old browsers */
	background: -moz-linear-gradient(top,  #f4f4f4 0%, #ffffff 27%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(27%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f4f4f4 0%,#ffffff 27%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f4f4f4 0%,#ffffff 27%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f4f4f4 0%,#ffffff 27%); /* IE10+ */
	background: linear-gradient(to bottom,  #f4f4f4 0%,#ffffff 27%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	border: solid 1px #bbb;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-radius: 2px;
	padding: 5px;
	margin-bottom: 6px;
	width: 100%;
}
textarea, .normal_text_area
{
	height: 110px;
	resize: vertical;
}