@charset "utf-8";
/* CSS Document */

.panel
{
	margin-left: auto;
	margin-right: auto;
	
	padding: 30px 50px 50px 50px;
	border-radius:4px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	background-color: #fefefe;
	box-shadow: 0px 1px 3px #ccc;
}

.large_panel
{
	width: 250mm;
}
.medium_panel
{
	width: 200mm;
}
.small_panel
{
	width: 150mm;
}
p, .normal_text
{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
}
a, .normal_link
{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0;
	text-decoration:none;
}
h1, h2, h3, .title_text
{
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.large_text
{
	font-size: 16px;
}
.medium_text
{
		font-size: 14px;
}
.small_text
{
		font-size: 12px;
}
.large_title
{
	font-size: 28px;
}
.medium_title
{
	font-size: 24px;	
}
.small_title
{
	font-size: 18px;
}
.white_text
{
	color: #fafafa;
}
.gray_text
{
	color: #777;
}
.black_text
{
	color: #222;
}
.error_text
{
	color: #D64242;
}
.normal_button
{
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	font-size: 16px;
	text-decoration: none;
	border-radius: 2px;
	cursor: hand;
	cursor: pointer;
}
.black_button
{
	font-size: 12px;
	background: #45484d; /* Old browsers */
	background: -moz-linear-gradient(top,  #45484d 0%, #0f0f0f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#0f0f0f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #45484d 0%,#0f0f0f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #45484d 0%,#0f0f0f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #45484d 0%,#0f0f0f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #45484d 0%,#0f0f0f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#0f0f0f',GradientType=0 ); /* IE6-9 */
	border: solid 1px #000;

	text-shadow: -1px -1px 0px #000;
}
.blue_button
{
	font-size: 12px;
	background: rgb(30,170,142); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(30,170,142,1) 0%, rgba(0,145,137,1) 49%, rgba(0,119,105,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,170,142,1)), color-stop(49%,rgba(0,145,137,1)), color-stop(100%,rgba(0,119,105,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(30,170,142,1) 0%,rgba(0,145,137,1) 49%,rgba(0,119,105,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(30,170,142,1) 0%,rgba(0,145,137,1) 49%,rgba(0,119,105,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(30,170,142,1) 0%,rgba(0,145,137,1) 49%,rgba(0,119,105,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(30,170,142,1) 0%,rgba(0,145,137,1) 49%,rgba(0,119,105,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1eaa8e', endColorstr='#007769',GradientType=0 ); /* IE6-9 */

	border: solid 1px #005146;
	text-shadow: -1px -1px 0px #005146;
}
.red_button
{
	font-size: 12px;	
	background: rgb(169,3,41); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(169,3,41,1) 0%, rgba(109,0,25,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,3,41,1)), color-stop(100%,rgba(109,0,25,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(109,0,25,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(109,0,25,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(109,0,25,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(169,3,41,1) 0%,rgba(109,0,25,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
	border: solid 1px #490001;
	text-shadow: -1px -1px 0px #490001;
}
.flow_restore
{
	clear: both;
}