@charset "utf-8";
/* CSS Document */
.comic_container
{
	width: 200px;
	height: 200px;
	float: left;
	margin-right: 1px;
	margin-bottom: 1px;
	position: relative;
	overflow: hidden;
}
.comic_img_container
{
}
.comic_img
{
	width: 100%;
}

.comic_info_container
{
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 12px 20px 12px 20px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	left: 0;
	top: 100%;
	transition: top 200ms;
	background-color: #fafafa;
	background-color: rgba(255,255,255,0.5);
	text-align:center;
}
.comic_container:hover .comic_info_container
{
	top: 0;
}


