@charset "utf-8";
/* CSS Document */

html, body
{
	margin: 0;
	background-color: #fafafa;
	min-width: 1003px;
}
#header_container
{
	height: 92px;
	background-color: #222;	
	position:relative;
	padding: 12px 50px 12px 50px;
}
#header_wrapper
{
	position:relative;
}

#logo_container
{
	height: 92px;
}
#logo_container img
{
	height: 100%;
}
#header_button_container
{
	position:absolute;
	right: 0;
	top: 0;
}
#navigation_link_container
{
	position: absolute;
	bottom: 0;
	right: 0;
}
.navigation_link_container
{
	float: right;
	margin-left: 20px;
}
.navigation_link_container:hover a
{
	color: #F25E5E;
}
#body_container
{
	position: relative;
}
#task_bar_container
{
	width: 250px;
	float: left;
	border-left: solid 1px #222;
	border-right: solid 1px #222;	
}
.task_link_container
{

	width: 100%;
	
	background: #565656; /* Old browsers */
	background: -moz-linear-gradient(top,  #565656 0%, #232323 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#565656), color-stop(100%,#232323)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #565656 0%,#232323 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #565656 0%,#232323 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #565656 0%,#232323 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #565656 0%,#232323 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#565656', endColorstr='#232323',GradientType=0 ); /* IE6-9 */

	border-top: solid 1px #656565;
	border-bottom: solid 1px #050505;
	text-shadow: -1px -1px 0px #111;

}
.task_link_container:hover
{
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top,  #1e5799 0%, #7db9e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1e5799 0%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1e5799 0%,#7db9e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1e5799 0%,#7db9e8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1e5799 0%,#7db9e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

}
.task_link_text_container
{
	padding: 12px 25px 12px 25px;	
	width: 100%;
	height: 100%;
	text-align:center;
	-moz-box-sizing: border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
#manager_container
{
	padding-top: 50px;
	padding-bottom: 70px;
	position:absolute;
	left: 250px;
	right: 0;
}
.editor_container
{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #444;
    background-color: rgba(0,0,0,0.3);
    overflow: auto;
}

